/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
}

#main, #login {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 登录界面 */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login label, #login input, #login button {
    margin-bottom: 10px;
}

#login input {
    padding: 8px;
    width: 80%;
    font-size: 16px;
}

/* 主界面 */
#main {
    display: none;
}

#main.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayName {
    font-weight: bold;
}

/* 座位信息布局 */
#seats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    width: 100%;
}

.seat {
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seat.occupied {
    background-color: #f8d7da;
}

.seat.closed {
    background-color: lightgray;
}

/* 按钮样式 */
button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

/* 特殊按钮样式 */
#login button,
#logoutButton {
    background-color: #007bff;
}

#login button:hover,
#logoutButton:hover {
    background-color: #0056b3;
}

#logoutButton {
    padding: 8px 16px;
    background-color: #dc3545;
    position: fixed;
    top: 10px;
    right: 10px;
}

#logoutButton:hover {
    background-color: #c82333;
}

/* 排队信息 */
#queue {
    margin-top: 20px;
    text-align: center;
}

#queue ul {
    list-style-type: none;
    padding: 0;
}

#queue li {
    margin: 10px 0;
}
